.🖊 {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 0 12rem;
  width: 100%;
}

.🖊 h1 {
  font-size: 4.4rem;
  margin-bottom: 3.4rem;
}

.🖊 form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
}

.📩 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.📩 label {
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.📩 input,
.📩 textarea {
  align-items: center;

  background: #fff;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
  color: #111517;

  font-weight: 600;
  font-size: 1.8rem;

  margin-top: 0.4rem;
  transition: all 0.2s ease-in-out;

  padding: 1.6rem 1.4rem;
  outline: none;
  width: 100%;
}
.📩 input::placeholder,
.📩 textarea::placeholder {
  color: #a8a8a8;
}

.📩 input:focus,
.📩 textarea:focus {
  border-color: var(--primary);
}

.📩 textarea {
  resize: none;
}

.🍌 {
  align-items: center;

  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.6rem;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  display: flex;

  font-size: 2.25rem;
  font-weight: 700;

  justify-content: center;
  justify-self: end;

  padding: 0.6rem 1.6rem;
  transition: 0.3s all ease;
}

.🍌:hover {
  border-color: var(--primary-darken);
  background: var(--primary-darken);
  transform: scale(1.018) translateY(-2px);
}

.📝 {
  color: #fff;
}

.🍌.loading {
  cursor: wait;
}

.🍌.loading .📝 {
  display: none;
}

.🍌.loading .💫 {
  animation: ♾ 0.8s infinite linear;

  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;

  display: block;
  height: 31px;
  width: 31px;
}

.🍌:disabled {
  background-color: #0000001f;
  border-color: #0000001f;
}

@keyframes ♾ {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 26.625rem) {
  .🖊 h1 {
    font-size: 3.4rem;
  }

  .📩 label {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .📩 input,
  .📩 textarea {
    font-size: 1.8rem;
  }
}
