.🗒 {
  display: flex;
  flex-direction: column;
  padding: 4rem 0 12rem;
  width: 100%;
  max-width: 72.8rem;
  margin: 0 auto;
}

.🗒 > label {
  margin-top: 0.8rem;
  text-align: right;
  font-size: 1.665rem;
}

.🗒 > label.hide {
  display: none;
}

.📏 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  position: relative;
  margin-top: 0.6rem;
  width: 23rem;
  background: #fff;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.6rem;
  border: 2px solid transparent;
  margin-bottom: 1.4rem;
}

.📏 button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  padding: 1.4rem;
  cursor: pointer;
}

.📏 button span {
  font-weight: 600;
  font-size: 1.665rem;
}

.📏 button svg {
  width: 1.6rem;
  height: 1.6rem;
  transition: 0.3s;
}

.📏 ul {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  width: 100%;
  padding: 1.2rem 2rem;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.6rem;
  transition: 0.3s;
  transform: translateY(-14px);
}

.📏.👀 ul {
  transition: 0.45s;
  transform: initial;
  opacity: 1;
  z-index: 10;
  pointer-events: initial;
}

.📏 ul li {
  font-weight: 600;
  font-size: 1.665rem;
  padding: 0.6rem 0;
  cursor: pointer;
}

.📏 ul li + li {
  margin-top: 1rem;
}

.📏 ul li:hover {
  color: var(--primary);
}

.📏.👀 {
  border-color: var(--primary);
}

.📏.👀 > button > svg {
  transform: rotate(180deg);
}

.📏.hide {
  display: none;
}

.📖 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;

  max-width: 72.8rem;
  width: 100%;
}

.❓ {
  border-radius: 0.6rem;
  background: rgba(248, 248, 248, 0.377);
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);

  margin: 1.4rem 0 2rem;
  width: 100%;
  max-width: 72.8rem;
  padding: 1.4rem;

  transition: 0.3s ease all;
}

.❓:hover {
  transform: scale(1.015);
}

.💁 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.💁 span {
  font-size: 1.75rem;
  font-weight: 700;
  border-bottom: 1px solid var(--primary);
}

.🤷 {
  margin-top: 1.2rem;
  max-width: 70rem;
}

.🤷 p {
  word-break: break-all;
}

.🤷 {
  font-size: 1.8rem;
  text-align: justify;
}

.🧐 {
  margin-top: 7rem;
  font-size: 3.6rem;
  text-align: center;
}

.👁,
.🙈 {
  color: var(--primary);
}

.👁:hover,
.🙈:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 32.75rem) {
  .💁 {
    flex-direction: column-reverse;
    align-items: initial;
  }

  .💁 > span {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    max-width: max-content;
    word-break: break-word;
  }

  .💁 .⏲ {
    align-self: flex-end;
  }
}
