.header__wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header {
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.header__logo {
  font-size: 2.8rem;
}

.header__logo a {
  color: var(--primary);
}

.header__logo a {
  text-decoration: none;
}

.header__nav {
  display: flex;
}

.header__nav li {
  font-size: 2rem;
  padding: 0 0.8rem;
  margin: 0 1.2rem;
}

.header__nav li a {
  text-decoration: none;
  transition: 0.3s ease all;
}

.header__nav li a:hover,
.header__nav li.active a {
  color: var(--primary);
}

.mobile__button {
  display: none;
}

@media only screen and (max-width: 46rem) {
  .header__nav {
    display: block;
    position: absolute;
    top: 62px;
    right: 20px;
    padding: 0 2rem;
    background: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary);
    border-radius: 0.4rem;
    transform: rotate3d(0, 180, 0, 90deg);
    opacity: 0;
    pointer-events: none;
  }

  .header__nav li {
    padding: 1.6rem 0;
  }
  .header__nav li + li {
    border-top: 1px solid var(--primary);
  }

  .header__nav.active {
    transition: 0.45s;
    transform: initial;
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
  }

  .mobile__button {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
  }

  .mobile__button::after {
    content: '';
    display: block;
    width: 2.85rem;
    height: 4px;
    border-radius: 8px;
    background: var(--primary);
    box-shadow: 0 7px var(--primary), 0 -7px var(--primary);
    transition: 0.3s;
  }

  .mobile__button.active::after {
    transform: rotate(-90deg);
    width: 5px;
    height: 5px;
    box-shadow: 0 8px var(--primary), 0 -8px var(--primary);
  }
}
