main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 1.2rem 12rem;
  width: 100%;
}

main h1 {
  text-align: center;
  font-size: 4rem;
}

main section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.web-development-img-container {
  width: 30rem;
  height: 30rem;
  max-width: 100%;
  max-height: 100%;
}

main section p {
  margin-top: 2rem;
  text-align: justify;
  font-size: 1.9rem;
  max-width: 78rem;
}

main section p a {
  color: var(--primary);
  transition: 0.2s ease;
}

main section p a:hover {
  color: var(--primary-darken);
}
