.🦍 {
  padding: 6rem 0 12rem;

  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.🎁 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
}

.🖼 {
  pointer-events: none;
  width: 10rem;
  height: 10rem;
  transition: 0.6s ease;
  filter: grayscale(100%);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 20px 0px var(--primary);
}

.🎁:hover .🖼 {
  cursor: pointer;
  border-radius: 50%;
  filter: grayscale(0%);
  width: 14rem;
  height: 14rem;

  box-shadow: 0px 10px 10px 0px var(--primary);
  transform: rotate(1turn);
  animation: 💧 3s infinite 0.5s linear;
}

@keyframes 💧 {
  0% {
    transform: translateY(0);
    box-shadow: 0px 10px 10px 1px var(--primary);
  }

  50% {
    transform: translateY(-40px);
    box-shadow: 0px 30px 30px 1px var(--primary);
  }

  100% {
    transform: translateY(0);
    box-shadow: 0px 10px 10px 1px var(--primary);
  }
}

.📖 {
  margin-top: 4rem;
  max-width: 800px;
}

.📖 p {
  text-align: center;
  font-size: 2rem;
}

.👨‍💻 {
  margin-top: 4rem;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
  gap: 5rem 3rem;
}

.🧽 {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.🧽 img {
  width: 5.4rem;
  height: 5.4rem;
}

.🧽 span {
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1.6rem;
}
