main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0.4rem 12rem;
  width: 100%;
}

main section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 84rem;
}

main section .form {
  width: 100%;
}

@media screen and (min-width: 685px) {
  main section .form {
    width: 70%;
  }
}

.input-block {
  background: #fff;
  max-width: 100%;

  padding: 0 3.2rem;
  color: #111517;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.6rem;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: all 0.35s ease;
}

.input-block:focus-within {
  border-color: var(--primary);
}

.input-block:focus-within > .search-icon > * {
  fill: var(--primary);
}

.input-block input {
  color: #111517;
  font-weight: 600;
  font-size: 1.7rem;
  padding: 1.6rem 0;
  width: 100%;
  outline: none;
}

.input-block input::placeholder {
  color: #b3b3b3;
}

.input-block .search-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.input-block .search-icon > * {
  transition: all 0.35s ease;

  fill: #b3b3b3;
}

.students-length-block {
  width: 100%;
  margin-top: 5rem;
}

.students-length-block span {
  font-size: 1.695rem;
}

.table-wrapper {
  margin-top: 0.6rem;
  border-radius: 0.6rem;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.12);
}

.table-wrapper table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  max-width: 100%;
}

.table-wrapper table th {
  text-transform: uppercase;
}

.table-wrapper table th,
.table-wrapper table td {
  font-size: 1.675rem;

  border-right: 1px solid rgba(0, 0, 0, 0.14);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  padding: 0.875rem;
  text-align: center;

  min-width: 400px;
}

.table-wrapper table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.table-wrapper table th:last-child,
.table-wrapper table td:last-child {
  border-right: none;
  word-break: break-all;
}

.table-wrapper table tr:last-child td {
  border-bottom: none;
}

.warning-message-block {
  margin-top: 2rem;
  text-align: center;
}

.warning-message-block span {
  font-size: 2.4rem;
}
