@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import 'header.css';

:root {
  font-size: 62.5%;
  --primary: transparent;
  --primary-darken: transparent;
  --background: #fff;
  --text-color: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--background);
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  padding: 7rem 12px 0;
}

*,
button,
input {
  border: 0;
  background: none;
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

footer {
  width: 100%;
  margin: 4rem 0 2rem;

  position: absolute;
  bottom: 0;
  left: 0;

  text-align: center;
  font-size: 2rem;
}
